# 산업내무역 지수

출처: UNCTAD (2012), [*A Practical Guide to Trade Policy Analysis*](https://unctad.org/topic/trade-analysis/trade-policy-analysis), [Chapter 1](https://unctad.org/system/files/official-document/gds2012d2_ch1_en.pdf).

- [1. 수출의 부문별 비중](#1.-수출의-부문별-비중)
- [2. 수출의 대상국별 비중](#2.-수출의-대상국별-비중)

## 1. 수출의 부문별 비중

### 산업내무역 

산업내무역(Intra-industry trade)이란 한 국가가 동일한 산업에서 비슷한 제품을 동시에 수출하고 수입하는 무역 형태를 의미한다. 예를 들어, 독일이 프랑스로 자동차를 수출하면서 동시에 프랑스로부터 자동차를 수입하는 경우가 이에 해당한다. 이러한 무역은 주로 제품의 차별화, 소비자 선호 다양성, 그리고 규모의 경제로 인해 발생한다.

많은 국가에서, 높은 수준의 통계적 세분화가 이루어진 경우에도 동일한 산업 내에서 상당한 비중의 국제 무역이 발생한다. 산업내무역의 중요성을 측정하는 대표적인 지표는 **Grubel-Lloyd(GL) 지수**이다. 이 지수는 다음과 같이 정의된다.  

$$
GL^{ij}_k = 1 - \frac{|X^{ij}_k - M^{ij}_k|}{X^{ij}_k + M^{ij}_k}
$$  

여기서, $X^{ij}_k$는 $i$국이 $j$국으로 수출하는 상품(또는 산업) $k$의 금액이며, $M^{ij}_k$는 해당 상품의 수입 금액이다. GL 지수는 $0$에서 $1$ 사이의 값을 가지며, 특정 산업에서 한 나라가 오직 수출국이거나 수입국일 경우, 분자가 분모와 같아지므로 GL 지수는 $0$이 되어 산업내무역이 존재하지 않음을 의미한다. 반면, 동일한 산업에서 한 나라가 수출과 수입을 모두 수행하면, GL 지수는 $1$에 가까워진다. 

이 때문에 개발도상국과 선진국 간의 무역에서 GL 지수가 상승하는 것은 일반적으로 두 나라 간의 소득 수준 및 산업 구조의 수렴(convergence)과 연관된다. 유사한 경제 규모(즉, GDP가 비슷한 나라들)일수록 산업내무역의 비중이 더 높아지는 경향이 있다. 그림 1.2는 2004년 독일과 그 무역 상대국들 간의 무역 중복(trade overlap) 비율과 **유사성 지수(similarity index)** 간의 관계를 산점도로 나타낸 것이다.  

Helpman (1987)에 따라 유사성 지수는 다음과 같이 정의된다:  

$$
SI_{ij} = 1 - \frac{(GDP_i - GDP_j)^2}{(GDP_i + GDP_j)^2}
$$  

여기서, GDP는 실질 값(real terms)이다. 한편, **무역 중복 지수(trade overlap index)** 는 양방향 무역(즉, GL 지수 > 0)을 보이는 제품(HS 6자리 기준)의 수출입 합계를 전체 수출입 합계로 나눈 값으로 정의된다. 그림 1.2에서 볼 수 있듯이, 독일과 1인당 GDP 수준이 유사한 국가일수록 무역 중복 비율이 더 높다.  

그러나 GL 지수는 해석에 주의가 필요하다. 첫째, **GL 지수는 집계 수준이 높아질수록 증가하는 경향이 있다**. 즉, 데이터가 세분화될수록 GL 지수는 낮아지므로, 비교할 때는 유사한 수준의 집계를 사용해야 한다.15 둘째, GL 지수는 세밀한 수준에서 계산되지 않는 한 **수직적 무역(vertical trade)** 을 포착할 가능성이 크다. 이 현상은 소득 수렴이나 독점적 경쟁과 직접적인 관련이 없다.  

예를 들어, 독일이 체코 공화국에 자동차 부품(엔진, 변속기, 브레이크 모듈 등)을 수출하고, 체코가 이를 조립하여 다시 독일로 완성차를 수출하는 경우를 생각해 보자. 만약 GL 지수를 자동차 산업 전체(HS 2자리 수준)에서 계산하면, 독일과 체코 간의 자동차 부문 산업내무역이 상당히 높은 것으로 나타날 것이다. 그러나 이는 사실상 **헤크셔-올린(Heckscher-Ohlin) 무역**, 즉 체코의 낮은 노동 비용(조립 공정은 부품 제조보다 노동집약적이므로, 비교우위에 따라 체코에서 조립하는 것이 더 효율적임)에 의해 발생하는 현상일 뿐이다.16  

GL 지수는 일반적으로 **소득 수준이 수렴할수록 증가하는 경향이 있다**. 표 1.1은 **중앙 및 동유럽 국가들(CEECs)** 과 유럽연합(EU) 간의 GL 지수 상승을 보여준다.  

산업내무역(IIT) 지수가 상승하는 이유는 두 가지 주요 요인에 기인한다.  
첫째, 경제 통합이 진행되면서 위에서 설명한 **수직적 무역(vertical trade)** 이 증가한다.  
둘째, **저소득 국가들이 고소득 국가를 따라잡으면서 동일한 유형의 제품을 생산하게 된다**. 기술 수준이 향상되면서, 차별화된 유사 상품의 교역(수평적 무역)이 증가하는데, 이는 **독점적 경쟁 모델(monopolistic competition model)** 과 일치하는 무역 구조를 형성한다.

In [17]:
import os
import numpy as np
import pandas as pd
import statsmodels.api as sm
from glob import glob

# =============================================================================
# 1. 데이터 불러오기 및 초기 데이터베이스 생성
# =============================================================================

# 1-1. 무역흐름 데이터 (tradeflows.csv)
gravity = pd.read_stata("../Data/gravity.dta")
gravity

,importer,exporter,year,imports,gdp_exporter,gdp_importer,join_exporter,join_importer,exporternum,importernum,contig,comlang_off,colony,dist,REPlandlocked,PARTlandlocked,religion,onein,bothin,nonein
0,AFG,ABW,1990,0.000000,NaN,NaN,NaN,NaN,533.0,4.0,0.0,0.0,0.0,13257.814453,0.0,1.0,0,0.0,0.0,1.0
1,AFG,ABW,1991,0.000000,8.720670e+08,NaN,NaN,NaN,533.0,4.0,0.0,0.0,0.0,13257.814453,0.0,1.0,0,0.0,0.0,1.0
2,AFG,ABW,1992,0.000000,9.586592e+08,NaN,NaN,NaN,533.0,4.0,0.0,0.0,0.0,13257.814453,0.0,1.0,0,0.0,0.0,1.0
3,AFG,ABW,1993,0.000000,1.083240e+09,NaN,NaN,NaN,533.0,4.0,0.0,0.0,0.0,13257.814453,0.0,1.0,0,0.0,0.0,1.0
4,AFG,ABW,1994,0.000000,1.245810e+09,NaN,NaN,NaN,533.0,4.0,0.0,0.0,0.0,13257.814453,0.0,1.0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599067,ZMB,ZWE,2001,104004.000000,1.025646e+10,3.636936e+09,1948.0,1982.0,716.0,894.0,1.0,1.0,0.0,396.804077,1.0,1.0,0,0.0,1.0,0.0
599068,ZMB,ZWE,2002,97810.187500,2.189703e+10,3.716091e+09,1948.0,1982.0,716.0,894.0,1.0,1.0,0.0,396.804077,1.0,1.0,0,0.0,1.0,0.0
599069,ZMB,ZWE,2003,202694.296875,7.397224e+09,4.373862e+09,1948.0,1982.0,716.0,894.0,1.0,1.0,0.0,396.804077,1.0,1.0,0,0.0,1.0,0.0
599070,ZMB,ZWE,2004,120544.203125,4.712289e+09,5.423201e+09,1948.0,1982.0,716.0,894.0,1.0,1.0,0.0,396.804077,1.0,1.0,0,0.0,1.0,0.0
599071,ZMB,ZWE,2005,132263.796875,3.418094e+09,7.156845e+09,1948.0,1982.0,716.0,894.0,1.0,1.0,0.0,396.804077,1.0,1.0,0,0.0,1.0,0.0